<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css">
  <script type="text/javascript" src="https://cdn.bootcss.com/angular.js/1.6.5/angular.js"></script>
  <script type="text/javascript" src="https://cdn.bootcss.com/angular-ui-router/1.0.3/angular-ui-router.js"></script>
  <style>
    .del{
      float:right;
    }
  </style>
</head>
<body ng-controller="formCtr">
<div class="input-group">
  <input ng-model="text" class="form-control" type="text">
  <span class="input-group-btn"> 
    <button type="button" class="btn btn-primary" ng-click="add()">提交</button>
  </span>
</div>
<h1 ng-if="teams.length>0">增加的条目</h1>
<ul>
  <li ng-repeat="team in teams track by $index">{{team}}
    <a class="del" href="#" ng-click="teams.splice($index,1)">删除</a>
  </li>
</ul>
</body>
</html>
<script type="text/javascript">
angular.module('myApp',[])
    .controller('formCtr',['$scope',function ($scope) {
        $scope.text = "";
        $scope.teams = [];
        $scope.add = function () {
            $scope.teams.push($scope.text);
            $scope.text = "";
        }
    }])
</script>
